.teclado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 1.5em;
  padding: 15px;
  background-color: #e0e0e0;
  border: 1px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.operador {
  background-color: black;
  color: white;
}

button:active {
  background-color: #d9d9d9;
}

button.operador:active {
  background-color: yellow;
}

button:hover {
  background-color: #d1d1d1;
}