<div class="calculator-container">
  <h1 class="gloriosa">Calculadora Gloriosa</h1>
  <div class="calculator">
    <input type="text" class="calculator-screen" [value]="displayValue" disabled />

  <div class="calculator-keys">
    <button (click)="onClear()" class="operator">AC</button>
    <button (click)="onOperatorClick('/')" class="operator">÷</button>
    <button (click)="onOperatorClick('*')" class="operator">×</button>
    <button (click)="onDelete()" class="operator">DEL</button>

    <button (click)="onDigitClick('7')">7</button>
    <button (click)="onDigitClick('8')">8</button>
    <button (click)="onDigitClick('9')">9</button>
    <button (click)="onOperatorClick('-')" class="operator">−</button>

    <button (click)="onDigitClick('4')">4</button>
    <button (click)="onDigitClick('5')">5</button>
    <button (click)="onDigitClick('6')">6</button>
    <button (click)="onOperatorClick('+')" class="operator">+</button>

    <button (click)="onDigitClick('1')">1</button>
    <button (click)="onDigitClick('2')">2</button>
    <button (click)="onDigitClick('3')">3</button>    
    <button (click)="onCalculate()" class="equal-sign">=</button>

    <button (click)="onDigitClick('0')">0</button>
    <button (click)="onDecimalClick()">.</button>
  </div>
</div>
